<nav>
    <ul class="d-flex main-menu">
      {% for link in section.settings.menu.links %}
        <li class="menu-item">
          <a href="{{ link.url }}" class="color-text healine tt-up menu-link" >{{ link.title }}</a>
          {% if link.links != blank %}
            <ul class="sub-menu  p-absolute left-0 right-0 d-flex flex-wrap" >
              {%- for childlink in link.links -%}
                <li class="sub-menu__li">
                  <a href="{{ childlink.url }}" class="h6 h-auto color-text--2 tt-up p-relative sub-menu__a d-block">{{ childlink.title | escape }}</a>
                  {% if childlink.links != blank %}
                    <ul class="sub-sub-menu">
                      {%- for subChildlink in childlink.links -%}
                        <li>
                          <a href="{{ subChildlink.url }}" class="sub-sub-menu__a color-text--2">{{ subChildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
              <div class="sub-menu__image">
                <img src=" {{  section.settings.img_menu | image_url }}" alt="" class=" h-100">
              </div>
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul> 
</nav>
