<nav>
    <ul class="ta-center menu-mobile">
      {% for link in section.settings.menu.links %}
        <li class="p-relative menu-mobile__li">
          {% if link.links != blank %}
            <a href="{{ link.url }}" onclick="event.preventDefault();" class="click-menu menu-mobile__a color-text tt-up healine" >{{ link.title }}
              <svg class="p-absolute right-0" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1682 12.1923L8.09712 6.12126L9.51133 4.70705L16.9966 12.1923L9.51132 19.6776L8.09711 18.2634L14.1682 12.1923Z"></path>
              </svg>
            </a>
          {% else %}
            <a href="{{ link.url }}" class="menu-mobile__a color-text tt-up healine" >{{ link.title }} </a>
          {% endif %} 
          {% if link.links != blank %}
            <ul class="listmenu-mobile">
              {%- for childlink in link.links -%}
                <li class="sub-menu-mobile__li">
                  {% if childlink.links != blank %}
                    <a href="{{ childlink.url }}" onclick="event.preventDefault();" class="click-menu h-auto color-text tt-up p-relative d-block healine sub-menu-mobile__a">{{ childlink.title | escape }}
                      <svg class="p-absolute right-0" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1682 12.1923L8.09712 6.12126L9.51133 4.70705L16.9966 12.1923L9.51132 19.6776L8.09711 18.2634L14.1682 12.1923Z"></path>
                      </svg>
                    </a>
                  {%  else %}
                    <a href="{{ childlink.url }}" class="h-auto color-text tt-up p-relative d-block healine sub-menu-mobile__a">{{ childlink.title | escape }} </a>
                  {% endif %}
                   {% if childlink.links != blank %}
                    <ul class="listmenu-mobile">
                      {%- for subChildlink in childlink.links -%}
                        <li>
                          <a href="{{ subChildlink.url }}" class="w-100 d-inline-block sub-sub-menu__a color-text p-relative">{{ subChildlink.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %} 
                </li>
              {% endfor %}
              <div class="sub-menu__image">
                <img src=" {{  section.settings.img_menu | image_url }}" alt="" class=" h-100">
              </div>
            </ul>
          {% endif %} 
        </li>
      {% endfor %}
    </ul> 
</nav>
<script>
 
</script>